body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background: #fafafa;
  color: #333;
  line-height: 1.6;
}

a {
  color: #e67e22;
  text-decoration: none;
  margin-right: 10px;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

ul {
  margin-left: 20px;
}

.larger-text {
  font-size: 1.2em;
}

.orange {
  color: #e67e22;
}
